extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 James Estrada

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am from Guatemala. I got a Bachelor's in Computer Science from a US university. During my studies, I did an exchange study in Sweden. 
            | After I graduated, I worked as an iOS and Android developer for a startup and a midsize company in Vienna, Austria. Besides programming, I love to travel! 
            | 50+ countries and still counting! 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li AJAX 
          li REST API
          li HTTP
          li Git
          li Pug
          li Node.js
        h6 Contact Info

        ul
          li 432-279-007
          li james.estrada@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jamestrada/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Jamestrada', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  